@font-face {
  font-family: BethanyElingston;
  src: url("fonts/Bethany\ Elingston.otf");
}
@font-face {
  font-family: Inter;
  src: url("fonts/Inter.ttf");
}

html, body {
  height: 100%;
  color: #231735;
  padding: 1rem;
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
html {
  background-image: url("assets/tile.png");
  background-size: 32px 32px;
  background-color: #dce8ca;
}

h1 {
  font-family: BethanyElingston, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
}

.sub {
  margin: 0;
  color: #231735;
  font-weight: 200;
}
.top-header {
  margin-bottom: 8px;
}
