@font-face {
    font-family: 'Bethany Elingston';
    src: url('Bethany-Elingston-Italic.woff2');
    font-style: italic;
}

h1 {
    font-size: 6em;
    font-family:'Bethany Elingston', serif;
    font-style: italic;
}